doctype html
- var members = [{name:'Maroš Ondrejka', data:'maros-ondrejka' }, {name:'Albert Russ', data:'albert-russ' }, {name:'Tomáš Kösegi', data:'tomas-kosegi' }];

mixin section(link, name)
  a(href=link).c-section
    .c-section__background
    .c-section__name
      h2.c-section__name--title=name

html(lang="sk")
  head
    meta(charset="UTF-8")
    meta(name="description", content="responsive navigation")
    meta(name="author", content="giTo")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title index
    link(rel="stylesheet", href="main.css")
  body#js-page
    header.c-header
      .l-f-row.c-menu
        .js-modal.c-member--author(data-prot='profiles.albert-russ')
          h2 Fotografie:
          h3.c-member__name--author #{members[1].name}
        h2(style='margin-left: auto;font-weight: bold') Obsah
        .js-menu-btn.c-menu__btn
          svg(fill="#000000", height="36", viewBox="0 0 24 24", width="32", xmlns="http://www.w3.org/2000/svg")
             path(d="M0 0h24v24H0z", fill="none")
             path(d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z")
        .js-menu-btn.c-menu__btn.is-hidden
          svg(fill="#000000", height="36", viewBox="0 0 24 24" width="32", xmlns="http://www.w3.org/2000/svg")
             path(d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z")
             path(d="M0 0h24v24H0z", fill="none")
      #js-menu-overlay.c-menu__overlay
        nav.l-f-container
          .l-f-col
          .l-f-col

    main.l-main
      section.l-f-section
        .l-s-1-1
          .l-s-multicolumn-auto
            p.c-text Mei te perpetua expetendis, <a class='c-underline' href='/'>duo cu ceteros</a> phaedrum qualisque. Reque voluptua mel no. No vim altera graeci tritani, mel feugiat cotidieque ne. Ex has amet verear. Nam lorem argumentum ex, nec utinam legere noluisse ei, ad vel omittam recusabo.
            p.c-text Lorem ipsum dolor sit amet, vix te choro tamquam, eam rebum menandri accusata et, cu eam illud moderatius complectitur. Eos id aeterno scripta feugiat. Error democritum vel ad. Solet aeterno eu est, cum ad veri ipsum utamur. Latine alienum est ex.
            p.c-text Eum tamquam invenire philosophia ei, unum facilisi his ne. Cu duis placerat sed, purto wisi in vim. Cum an sale veniam detraxit, vel eu vocent appellantur. Eu iudico exerci volumus mei. Scripta sententiae ea eos, et vis quem nihil dignissim.
            p.c-text Usu et dico dolore intellegat. Usu ea sonet appellantur, <a class='c-underline' href='/'>sed ei munere noster tritani.</a> Vis cu aliquid scriptorem, solet oporteat est ex. Adipisci atomorum duo an, in labitur probatus dissentiet mei. Velit everti virtute ad eum, eum rebum utamur legimus in, an pro quis accusam petentium. Et modus saepe mollis est, ad tractatos liberavisse mel. Ad cum alia aliquip.

      section.l-f-section
        .l-s-1-2
          figure.js-modal.c-card__figure(data-markup='gallery-one', data-foto='misc-1')
            img.c-card__image(src='images/misc/misc-1-small.jpeg' alt='foto')
        .l-s-1-2
          figcaption.l-s-multicolumn
            p.c-text Lorem <a class="c-underline" href="/">ipsum dolor</a> sit amet, est an dolor nemore molestie, prima vitae sed ne, dolor corpora ei est. Alia commune in vix, ferri perfecto ne mea, at illum nonumes tibique mei. Vix in epicurei legendos, mundi labitur ut est. Eum at albucius legendos, eum id menandri intellegat, oportere aliquando omittantur sit in.
            p.c-text Ad has mollis animal, ut cibo quas utamur sed. In per definiebas interpretaris. Latine probatus eam ea, nec ei fabulas placerat. Eu natum scriptorem eum. Cu has veniam eligendi scriptorem. Nam ei tale magna discere, quot nibh salutatus eam ad, augue habemus facilisi ne eos.
            p.c-text <a class='c-underline' href='/'>Quo aliquip pertinacia</a> definiebas eu, pri an nostro aliquid deleniti, eos id modo apeirian argumentum. Vim te mazim decore, ad qui diam instructior. In errem appetere has. Bonorum vivendo nominati vel an. Mel vocibus delectus eu.

      section.l-f-section
        .l-s-1-2
          figure.js-modal.c-card__figure(data-markup='gallery-one', data-foto='misc-2')
            img.c-card__image(src='images/misc/misc-2-small.jpeg' alt='foto')
        .l-s-1-2
          figcaption.l-s-multicolumn
            p.c-text Lorem ipsum dolor sit amet, est an dolor nemore molestie, prima vitae sed ne, dolor corpora ei est. Alia commune in vix, ferri perfecto ne mea, at illum nonumes tibique mei. Vix in epicurei legendos, mundi labitur ut est. Eum at albucius <a class='c-underline' href='/'>legendos</a>, eum id menandri intellegat, oportere aliquando omittantur sit in.
            p.c-text Essent iudicabit interesset usu ei, has tollit virtute albucius ne. Eum ad alterum delectus voluptatum, liberavisse mediocritatem ad nec. Has cu velit errem libris, ei quis graeco eos. Pri ea scripta admodum, vix corrumpit sententiae constituam in. Qui minim impedit gubergren ut, eu pri odio magna deterruisset. Ne possim latine epicurei mei.

      section.l-f-section
        .l-s-1-2
          figure.c-card__figure(data-markup='gallery-one', data-foto='misc-3')
            img.c-card__image(src='images/misc/misc-3-small.jpeg' alt='foto')
        .l-s-1-2
          figcaption.l-s-multicolumn
            p.c-text Lorem ipsum dolor sit amet, est an dolor nemore molestie, prima vitae sed ne, dolor corpora ei est. <a class='c-underline' href='/'>Alia commune in vix</a>, ferri perfecto ne mea, at illum nonumes tibique mei. Vix in epicurei legendos, mundi labitur ut est. Eum at albucius legendos, eum id menandri intellegat, oportere aliquando omittantur sit in.
            p.c-text Ad has mollis animal, ut cibo quas utamur sed. In per definiebas interpretaris. Latine probatus eam ea, nec ei fabulas placerat. Eu natum scriptorem eum. Cu has veniam eligendi scriptorem. Nam ei tale magna discere, quot nibh salutatus eam ad, augue habemus facilisi ne eos.
            p.c-text <a class='c-underline' href='/'>Quo aliquip</a> pertinacia definiebas eu, pri an nostro aliquid deleniti, eos id modo apeirian argumentum. Vim te mazim decore, ad qui diam instructior. In errem appetere has. Bonorum vivendo nominati vel an. Mel vocibus delectus eu.
            p.c-text Id menandri gloriatur dissentias cum, brute partem ex nec, ne sint albucius eam. Tation essent eam ne, eu est minimum accusata oportere, apeirian democritum id eam. Vel eu possim melius laboramus. Odio percipitur est et. Sed saepe virtute no, sea at patrioque temporibus.

      section.l-f-section
        .l-s-1-2
          figure.l-s-1-2(data-markup='gallery-one', data-foto='misc-4')
            img.c-card__image(src='images/misc/misc-4-small.jpeg' alt='foto')
          figcaption.l-s-1-2
            p.c-text Lorem ipsum dolor sit amet, est an dolor nemore molestie, prima vitae sed ne, dolor corpora ei est. Alia commune in vix, ferri perfecto ne mea, at illum nonumes tibique mei. Vix in epicurei legendos, mundi labitur ut est. Eum at albucius legendos, eum id menandri intellegat, oportere aliquando omittantur sit in.
        .l-s-1-2
          figure.l-s-1-2(data-markup='gallery-one', data-foto='misc-5')
            img.c-card__image(src='images/misc/misc-5-small.jpeg' alt='foto')
          figcaption.l-s-1-2
            p.c-text Elit <a class='c-underline' href='/'>neglegentur per maiestatis scriptorem per ea,</a> volutpat reformidans eu sit. In has labore voluptatum intellegam, et cum harum aliquam inciderint. Ius verterem electram eu. Sea oblique impedit erroribus cu. Wisi altera epicuri in qui. Illud prompta singulis ei mei.

      section.l-f-section
        .l-s-1-2
          figure.l-s-1-2.js-modal(data-markup='gallery-one', data-foto='misc-4')
            img.c-card__image(src='images/misc/misc-4-small.jpeg' alt='foto')
          figcaption.l-s-1-2
            p.c-text Lorem ipsum dolor sit amet, est an dolor nemore molestie, prima vitae sed ne, dolor corpora ei est. Alia commune in vix, ferri perfecto ne mea, at illum nonumes tibique mei. Vix in epicurei legendos, mundi labitur ut est. Eum at albucius legendos, eum id menandri intellegat, oportere aliquando omittantur sit in.
        .l-s-1-2
          figure.l-s-1-2(data-markup='gallery-one', data-foto='misc-5')
            img.c-card__image(src='images/misc/misc-5-small.jpeg' alt='foto')
          figcaption.l-s-1-2
            p.c-text Elit <a class='c-underline' href='/'>neglegentur per maiestatis scriptorem per ea,</a> volutpat reformidans eu sit. In has labore voluptatum intellegam, et cum harum aliquam inciderint. Ius verterem electram eu. Sea oblique impedit erroribus cu. Wisi altera epicuri in qui. Illud prompta singulis ei mei.

      section.l-f-section
        .l-s-1-2
          .l-s-multicolumn
            p.c-text Id menandri gloriatur dissentias cum, brute partem ex nec, ne sint albucius eam. Tation essent eam ne, eu est minimum accusata oportere, apeirian democritum id eam. Vel eu possim melius laboramus. Odio percipitur est et. Sed saepe virtute no, sea at patrioque temporibus. At usu enim homero nusquam, eius urbanitas his te.
            p.c-text Essent iudicabit interesset usu ei, has tollit virtute albucius ne. Eum ad alterum delectus voluptatum, liberavisse mediocritatem ad nec. Has cu velit errem libris, ei quis graeco eos. Pri ea scripta admodum, vix corrumpit sententiae constituam in. Qui minim impedit gubergren ut, eu pri odio magna deterruisset. <a class='c-underline' href='/'>Ne possim latine epicurei mei.</a>
        .l-s-1-2
          figcaption.l-s-1-2
            p.c-text--continue Lorem ipsum dolor sit amet, est an dolor nemore molestie, prima vitae sed ne, dolor corpora ei est. Alia commune in vix, ferri perfecto ne mea, at illum nonumes tibique mei. Vix in epicurei legendos, mundi labitur ut est. Eum at albucius legendos, eum id menandri intellegat, oportere aliquando omittantur sit in.
          figure.js-modal.l-s-1-2(data-markup='gallery-one', data-id='misc-8')
            img.c-card__image(src='images/misc/misc-8-small.jpeg' alt='foto')

      section.l-f-section
        .l-s-3-4
          figure.l-s-1-3(data-markup='gallery-one', data-id='misc-7')
            img.c-card__image(src="images/misc/misc-7-small.jpeg", alt='misc-7')
          figure.l-s-1-3(data-markup='gallery-one', data-id='misc-7')
            img.c-card__image(src="images/misc/misc-9-small.jpeg", alt='misc-9')
          figure.l-s-1-3(data-markup='gallery-one', data-id='misc-7')
            img.c-card__image(src="images/misc/misc-10-small.jpeg", alt='misc-10')
        .l-s-1-4
          figcaption
            p.c-text Ius ei posse malorum convenire, eu meliore dissentias vel, cu has diceret detracto apeirian. Verear suscipit sit at, eam atqui ludus consequuntur te. Epicuri invidunt verterem vel at, sumo partiendo sed ei. Cu ius populo sanctus interesset, te pri mazim tation vidisse, has vero saepe nostrud ex. Ad vim nusquam referrentur. Te eam agam iusto consulatu, per quidam persius fabellas in, menandri singulis qui in.
            p.c-text Mei te perpetua expetendis, duo cu ceteros phaedrum qualisque. Reque voluptua mel no. No vim altera graeci tritani, mel feugiat cotidieque ne. Ex has amet verear. Nam lorem argumentum ex, nec utinam legere noluisse ei, ad vel omittam recusabo.

      section.l-f-section
        .l-s-3-4
          figure.js-modal.c-card__figure(data-markup='gallery-one', data-id='misc-6')
            img.c-card__image(src="images/misc/misc-6-small.jpeg", alt='misc-6')
        .l-s-1-4
          figcaption
            p.c-text Melius pertinax cum eu, adhuc mucius ne nam, quo te mundi nostrud corrumpit. Augue corpora qui ne. Sit no essent epicurei voluptaria, no mei debet necessitatibus concludaturque, ea graeco singulis eam.<a class="c-underline" href="/"> At appetere delicata convenire pro, ius in nisl delenit, suscipit erroribus ea has.</a>
            p.c-text Vim ei vocent probatus torquatos, harum simul tritani ei has. Ne nec velit senserit, ad his probo harum doctus.<a class='c-underline' href="/"> Veri oportere at mea, sea vide iuvaret meliore ea.</a> Ut nullam numquam nam. Iusto nominavi ad sea, et nisl dicat omittam mea. Eu nobis feugait definiebas nec.



      section.l-section

    #js-page-load.c-page-load
    #js-modal.c-modal
    script(src="js/TweenMax.min.js")
    script(src="js/onload.js")
    script(src="js/data.js")
    script(src="js/tmps.js")
    script(src="js/util.js")
    script(src="js/profiles.js")
    script(src="js/menu.js")
    script(src="js/test.js")
    script(src="js/anim.js")
