.l-main
  // padding-top: ($vertical-rhytm * 2)
  display: flex
  min-height: 200vh
  margin: 0 $main-margin
  border-left: 1px dashed $border-color
  border-right: 1px dashed $border-color


.l-header
  // border-bottom: 1px dashed $border-color
  background-color: $background-color
  position: fixed
  z-index: 999
  top: 0
  left: 0
  box-shadow: -12px 4px 15px lighten(grey, 25%)

.l-section
